<h2>{{ titulo }}</h2>

<div *ngFor="let colaborador of colaboradores ">
    <div class="card-salario">
    <p>Id: {{ colaborador.id }}</p>
    <p>Nome: {{ colaborador.nome }}</p>
    <p>Salário: {{colaborador.salario}}</p>
    <p>Cargo: {{colaborador.cargo}}</p>
    <img src= "{{ colaborador.imagem }}" width="150px" height="150px">
    <p [ngClass]="{'produtivo' : colaborador.ativo, 'improdutivo' : !colaborador.ativo}">{{ colaborador.ativo ? 'Na ativa' : 'Aposentado'}}</p>
    </div>
    <br>
</div>
<button (click)="saibaMais()">Saiba mais</button>